<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Gutenberg - Bookshelf Managment</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Bookshelf Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Lookup Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookshelves">Bookshelves</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item left">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item left">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>